/*  BASIC */

.container {
    height: 1440px;
    width: 1024px;
    display: flex;
    display: grid;
    grid-template-columns: 150px 150px 150px 150px 150px;
    grid-template-rows:  200px 200px 200px 200px ;
    /* flex-wrap: wrap; */
    /* flex-grow: 1; */
    row-gap: 48px;
    column-gap: 35px;
    grid-template-areas: 
      "line1  line1  line1  line1  line1"
      "image2 image3 image4 image4 image5"
      "image7 image7 image4 image4 image6"
      "image8 image9 image10 image10 image10";
    margin: 40px 67px;
  }
  
  .line1{
    grid-area: line1;
    /* grid-template-columns: 200px 35px 200px;
    grid-template-rows: subgrid; */
  
    display: flex;
    justify-content: space-between;
    /* align-content: stretch; */
    /* row-gap: 35px; */
  }
  
  .item1{
    width: 420px;
    height: 200px;
    /* height: 100%;
    width: 100%; */
    border: 1px solid black;
  
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .item2{
    width: 420px;
    height: 200px;
   
    /* overflow: hidden;   */
  }

  .labelB{
    /* width: 234px;
    height: 56px; */
    /* border: 1px solid black; */

    /* align-content: center;
    justify-content:center; */
    text-align: center;
    /* font: 58px roboto;
    font-weight: 400; */
    /* line-height:14px; */
  }


  
  img {
    height: 100%;
    max-width: 100%;
    border: 1px solid black;
  }
  
  .image2{
    grid-area: image2;
  }
  
  .image3{
    grid-area: image3;
  }
  
  .image4{
    grid-area: image4;
    width: 335px;
  }
  
  .image5{
    grid-area: image5;
  }
  
  .image7{
    grid-area: image7;
  }
  
  .image8{
    grid-area: image8;
  }
  
  .image9{
    grid-area: image9;
  }
  
  .image10{
    grid-area: image10;
  }
  

/* Es un commenrario Padding, Margin, vh, wh, %, px, min-width, max-width, *{}