/*  BASIC */

.container {
    height: 1440px;
    width: 1024px;
    display: flex;
    display: grid;
    grid-template-columns: 150px 150px 150px 150px 150px;
    grid-template-rows:  200px 200px 200px 200px ;
    /* flex-wrap: wrap; */
    /* flex-grow: 1; */
    row-gap: 48px;
    column-gap: 35px;
    grid-template-areas: 
      "line1  line1  line1  line1  line1"
      "image2 image3 image4 image4 image5"
      "image7 image7 image4 image4 image6"
      "image8 image9 image10 image10 image10";
    margin: 40px 67px;
  }
  
  .line1{
    /* height: 840px;
    width: 200px; */
    grid-area: line1;
    justify-content: space-between;
  }
  
  .item1{
    width: 420px;
    height: 200px;
    align-content: center;
    text-align: center;
  
  }
  
  .item2{
    width: 420px;
    height: 200px;
  }
  
  img {
    max-height: 100%;
    min-width: 100%;
  }
  
  .image2{
    grid-area: image2;
  }
  
  .image3{
    grid-area: image3;
  }
  
  .image4{
    grid-area: image4;
  }
  
  .image5{
    grid-area: image5;
  }
  
  .image7{
    grid-area: image7;
  }
  
  .image8{
    grid-area: image8;
  }
  
  .image9{
    grid-area: image9;
  }
  
  .image10{
    grid-area: image10;
  }
  

/* Es un commenrario Padding, Margin, vh, wh, %, px, min-width, max-width, *{}